/* Estilo geral */
body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App{
  max-width: 100%;
}
/* Estilos para o cabeçalho */
header {
  text-align: center;
  color: black;
  padding: 20px;
}

/* Estilos para a container de cards */
.product-cards-container {
  background-image: url("https://static.todamateria.com.br/upload/ba/nd/bandeira-do-brasil-og.jpg");
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px;
}

/* Estilos para os cards de produtos */
.product-card {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  flex: 0 0 calc(30% - 20px);
  max-width: 400px;
  margin-top: 100px;
  margin: -3px;
}

/* Estilos para a imagem nos cards */
.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Estilos para os botões de adicionar */
.product-card button {
  background-color: #3498db;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

/* Estilos para o botão de adicionar ao passar o mouse */
.product-card button:hover {
  background-color: #2980b9;
}

/* Estilos para o carrinho de compras */
#cart {
  
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 70vh;
  position: fixed;
  top: 20px;
  right: 20px;
}

/* Estilos para o título do carrinho de compras */
#cart header {
  text-align: center;
}

/* Estilos para os itens do carrinho de compras */
#cart ul {
  list-style: none;
  padding: 0;
}

/* Estilos para os itens do carrinho de compras */
#cart ul li {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos para os botões de remover do carrinho de compras */
#cart ul li button {
  background-color: #e74c3c;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilos para os botões de remover ao passar o mouse */
#cart ul li button:hover {
  background-color: #c0392b;
}

/* Estilos para o total do carrinho de compras */
#cart footer {
  font-weight: bold;
  text-align: right;
}
